body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

nav > ul {
  display: flex;
  margin: 0;
  padding: 0;
}

nav > ul > li {
  list-style-type: none;
  margin-right: 5px;
}

table {
  border-collapse: collapse;
  width: 100%
}

table, th, td {
  border: 1px solid black;
}

.container {
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 30%;
}

form > button, select {
  max-width: 60px;
}

form > input {
  max-width: 100px;
}
